<!DOCTYPE html>
<html>
  <head>
    <title>TripLogger</title>
  </head>
  <body>
    <h1>Welcome to TripLogger, your personal travel log.</h1>
    <h3>Keep track of all of your travel adventures and let others inspire your travels!</h3>

    <%= link_to "Sign In", signin_path %> | <%= link_to "Sign Up", new_user_path %>
  </body>
</html>
